---
- include_tasks: "tasks/override.yml"
  when: override is defined

- name: Validate variables
  assert:
    that:
    - method is not defined or (method == "local")
    
- name: Install apt package prerequisites
  apt:
    update_cache: yes
    name:
    - python2.7
    
- import_tasks: "tasks/check_installed.yml"

- include_tasks: "install_local.yml"
  when: (method is not defined or method == 'local') and not installed

- include_tasks: "tasks/test.yml"
  vars:
    command: volatility